<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keitaro.activitymusic" >

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.MediaPlayerReceiver">
            <intent-filter>
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_TRACK_STARTED" />
                <action android:name="com.sonyericsson.music.playbackcontrol.ACTION_PAUSED" />
                <action android:name="com.sonyericsson.music.TRACK_COMPLETED" />
                <!--
                <action android:name="com.sonyericsson.music.metachanged" />
                <action android:name="com.sonyericsson.music.playbackcomplete" />
                <action android:name="com.sonyericsson.music.playstatechanged" />
                -->

            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ActivityRecognitionReceiver">
            <intent-filter>
                <action android:name="ACTION_ACTIVITY_RECOGNITION"/>
                <action android:name="ACTION_LOCATION_SERVICE" />
            </intent-filter>
        </receiver>

        <service android:name=".service.GoogleApiClientConnectService"/>

        <meta-data android:name="AA_DB_NAME" android:value="ActivityMusic.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>
